//COLORS
$color-1: #ffff;
$color-2: #c03;
$color-3: #aa8961;
$color-4: #1e1e1e;
$color-5: #171717;

//FONT-SIZES
$font-small: 14px;
$font-medium: 16px;
$font-large: 50px;
$font-extralarge: 60px;

//FONTS
$playFairRegular: PlayFairDisplay;
$playFairBold: PlayFairDisplayBold;
$sourceSansProRegular: SourceSansPro;
$sourceSansProSemibold: SourceSansProSemibold;
$sourceSansProBold: SourceSansProBold;

//MEDIA QUERYS BREAKPOINTS
$sm-devices: 576px;
$md-devices: 768px;
$lg-devices: 992px;
$xl-devices: 1200px;